<!-- Start Top Header -->
<header class="top-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-9">
                <div class="header-left">
                    <div class="header-left-card">
                        <ul>
                            <li>
                                <div class="head-icon">
                                    <i class="bx bx-home-smile"></i>
                                </div>
                                <a href="#" target="_blank">Petuelring 130 Munich, Germany</a>
                            </li>
                            <li>
                                <div class="head-icon">
                                    <i class="bx bx-phone-call"></i>
                                </div>
                                <a href="tel:+49 89 3820">+49 89 3820</a>
                            </li>
                            <li>
                                <div class="head-icon">
                                    <i class="bx bxs-envelope"></i>
                                </div>
                                <a href="mailto:bmw@gmail.com">BMW@Gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-3">
                <div class="header-right">
                    <div class="top-social-link">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/BMW/" target="_blank"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/BMW?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"
                                    ><i class="bx bxl-twitter"></i
                                ></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/bmw/?hl=en" target="_blank"><i class="bx bxl-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Top Header End -->

<!-- Start Navbar Area -->
<div class="navbar-area">
    <!-- Menu For Responsive -->
    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <img src="assets/img/BMWlogo.png" alt="Logo" />
        </a>
    </div>

    <!-- Menu For Desktop -->
    <div class="main-nav nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/img/BMWlogo.png" alt="Logo" />
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                >Home</a
                            >
                        </li>

                        <li class="nav-item">
                            <a routerLink="/about" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                >About Us</a
                            >
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Models<i class="bx bx-chevron-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a
                                        routerLink="/team"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >The BMW 1 Series</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/appointment"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >The BMW 2 Series</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/pricing"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >The BMW 3 Series</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/faq"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >The BMW 4 Series</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/testimonials"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >The BMW 5 Series</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/error"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >The BMW 6 Series</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/sign-in"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >The BMW 7 Series</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/sign-up"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >The BMW 8 Series</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/coming-soon"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >The BMW X Series</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Shop <i class="bx bx-chevron-down"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a
                                        routerLink="/shop"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >Shop</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/cart"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >Cart</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/checkout"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >Checkout</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/products-details"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        >Products Details</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a
                                routerLink="/"
                                class="nav-link"
                                routerLinkActive="active"
                                (click)="onSignOut()"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >Sign Out</a
                            >
                        </li>
                    </ul>

                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <i class="search-btn bx bx-search"></i>
                            <i class="close-btn bx bx-x"></i>
                            <div class="search-overlay search-popup">
                                <div class="search-box">
                                    <form class="search-form">
                                        <input class="search-input" name="search" placeholder="Search" type="text" />
                                        <button class="search-button" type="submit"><i class="bx bx-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="option-item">
                            <div class="add-cart-btn">
                                <a routerLink="/cart" class="cart-btn-icon">
                                    <i class="bx bx-cart-alt"></i>
                                    <span>{{ products.length }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
