<!-- Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/BMWlogo.png" alt="Images"></a>
                    </div>
                    <p>We at BMW are always here for you</p>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-widget">
                    <h3>Useful Links</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/services-1">Services</a></li>
                        <li><a routerLink="/projects">Projects</a></li>
                        <li><a routerLink="/team">Team</a></li>
                        <li><a routerLink="/blog-1">Blog</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3>Other Resources</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/services-1">Car Service</a></li>
                        <li><a routerLink="/services-2">Services</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/service-details">Car Details</a></li>
                        <li><a routerLink="/contact">Support</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget pl-2">
                    <div class="footer-widget">
                        <h3>Address</h3>

                        <ul class="footer-list-two">
                            <li>
                                <i class='bx bx-time'></i>
                                Sun - Fri: 8.00am - 6.00pm
                            </li>
                            <li>
                                <i class='bx bx-home-smile'></i>
                                <a href="#" target="_blank">Petuelring 130 Munich, Germany</a>
                            </li>
                            <li>
                                <i class='bx bx-phone'></i>
                                <a href="tel:+49 89 3820">+49 89 3820</a>
                            </li>
                            <li>
                                <i class='bx bxs-envelope'></i>
                                <a href="mailto:BMW@gmail.com">BMW@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Copyright Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-text text-center">
            <p>Copyright @2021 Roei Gamliel & Ofer Oliel. All Rights Reserved</p>
        </div>
    </div>
</div>
<!-- Copyright Area End -->