/*
Flaticon icon font: Flaticon
*/
@font-face {
	font-family: "Flaticon";
	src: url("../../assets/fonts/Flaticon.eot");
	src: url("../../assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
	url("../../assets/fonts/Flaticon.woff2") format("woff2"),
	url("../../assets/fonts/Flaticon.woff") format("woff"),
	url("../../assets/fonts/Flaticon.ttf") format("truetype"),
	url("../../assets/fonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../../assets/fonts/Flaticon.svg#Flaticon") format("svg");
	}
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-wheel:before { content: "\f100"; }
.flaticon-settings:before { content: "\f101"; }
.flaticon-fan:before { content: "\f102"; }
.flaticon-rating:before { content: "\f103"; }
.flaticon-user:before { content: "\f104"; }
.flaticon-service:before { content: "\f105"; }
.flaticon-calendar:before { content: "\f106"; }
.flaticon-left-quote:before { content: "\f107"; }
.flaticon-next:before { content: "\f108"; }
.flaticon-left-arrow:before { content: "\f109"; }
.flaticon-racing:before { content: "\f10a"; }
.flaticon-disc-brake:before { content: "\f10b"; }
.flaticon-car-service:before { content: "\f10c"; }
.flaticon-car-service-1:before { content: "\f10d"; }